body{
  background-color: #1d1007;
  margin: 0px;
  font-size: 16.8px;
}
/*Encabezado inicial*/
h4{
  display: inline;
  background-color: #d50000;
  margin:14px;
}
h4:hover{
  color: green;
}
.inicio{
  display: inline-block;
  width: 100%;
  background-color: #d50000;
  padding: 7px;
  color: #fff;
}
.inicio01{
  margin-left: 70px;
}
/*Diseño de imágenes*/
div{
  display: inline;
}
img{
  display: inline;
  width: 189px;
  height: 189px;
  border: 4.9px solid #ccc;
  margin: 14px;
}
.img01{
  margin-left: 70px;
}
.cerrar{
  position: relative;
  color: #fff;
  font-size: 24.5px;
  left: -203px;
  top: -175px;
  cursor: pointer;
}
.cerrar:hover{
  color: green;
}
/*Navegacion - origen*/
#origen{
  display: inline;
  margin-left: 70px;
}
.m{
  padding-left: 140px;
  padding-right: 140px;
  background-color: #d50000;
  color: #fff;
}
.m:hover{
  color: green;
}
/*Texto Lorem*/
.restaurar{
  margin-left: 49px;
  margin-right: 49px;
  padding: 7px;
  column-gap: 7em;
  columns: 2;
  text-align: justify;
  color: #FFE57F;
}
p{
  display: inline;
  padding: 7px;
}

.ocultar{
  visibility: hidden;
}
